<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <h1>Track ya Gooooals bitch!!</h1>
  <% if logged_in? %>
  <p>Wasssup its <%= current_user.username %></p>
  <p>Ur loggied in I mean definitly</p>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Sign Out">
    </form>
  <% else %>
    <p>Hey you know you dont ur not logeged in or maybe you dont have an account yet ??!!</p>
    <%= link_to 'Sign up', new_user_url %>
    <%= link_to 'Sign In', new_session_url %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
