<p id="notice"><%= notice %></p>

<h1>Hey It''ss the time for loolking at this y]USR Youknow?</h1>

<%= @user.username %>
<br>
<p>What's up with their las session token you lnow?</p>
<%= @user.session_token %>
<br>
<%=  %>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
